<div ng-controller="MyCtrl">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="goToPage('/')">
		    <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <h3>Settings</h3>
    	</div>
	</div>

    		<div class="l-group">
     		<div class="l-group-item">Favourites</div>
      		<div class="l-group-item1">Brands <i class="ion-chevron-right group"></i></div>
      		<div class="l-group-item1">Places <i class="ion-chevron-right group"></i></div>
      		<div class="l-group-item">Notifications </div>
     		 <div class="l-group-item1">Shouts <i class="ion-iphone phone"></i> <i class="ion-android-mail mail" style="color:#00CCFF"></i> </div>
			 <div class="l-group-item1">Deals & Promos <i class="ion-iphone phone" style="color:#00CCFF"></i> <i class="ion-android-mail mail"></i> </div>
			 <div class="l-group-item">View Settings</div>
     		 <div class="l-group-item1">Map View <div class="slideThree">	
								<input type="checkbox" value="None" id="slideThree" name="check" />
								<label for="slideThree"></label>
								</div></div>
			 <div class="l-group-item1">Near by/Favourite <i class="ion-chevron-right group"></i></div>
    		</div>

</div>